body {
    background-color: #F9C4B7;
    font-family: Arial, sans-serif;
    /* font-size: 2vw; */
}
.container {
    margin: 20px auto;
    padding: 20px;
}
.question-card {
    background-color: white;
    border-radius: 10px;
    /* height: 30vh; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.question-card h5 {
    font-size: 16px;
    font-weight: bold;
}
.btn-group {
    display: flex;
}

.btn-group .form-check {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.btn-group .form-check img{
    width: 50;
    height: 500;
    background-color: #f1f1f1;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
    color: #fff;
    fill: white;
} */
.btn-group .form-check svg {
    width: 50px;
    height: 50px;
    /* fill: white; */
    
}
/* .btn-group .form-check .cross-icon{
    background-color: #bdbdbd;
    -webkit-mask: url(image/icon/cross.svg) no-repeat center;
    mask: url(image/icon/cross.svg) no-repeat center;
} */
.btn-group .form-check input {
    display: none;
}
.btn-group .form-check label {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn-group .form-check input:checked + label {
    background-color: #FC5E3C;
    color: white;
}
.btn-group .form-check input:not(:checked) + label {
    background-color: #f1f1f1;
    color: #bdbdbd;
}


button.btn.btn-next {
    background-color: #FC5E3C;
    color: #fff;
    
}

@media (min-width: 768px) {
    
    .question-card h5 {
        font-size: 18px;
    }
    .btn-group .form-check label {
        font-size: 16px;
        padding: 12px 0;
    }
}

@media (max-width: 480px) {
    /* Adjust the container padding and margin */
    .container {
      margin: 10px auto;
      padding: 10px;
    }
    
    /* Make the question card full-width */
    .question-card {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
    }
    
    /* Adjust the button group layout */
    .btn-group {
      flex-direction: column;
    }
    
    .btn-group .form-check {
      width: 100%;
      margin-bottom: 10px;
    }
    
    /* Adjust the label font size and padding */
    .btn-group .form-check label {
      font-size: 12px;
      padding: 8px 0;
    }
    
    /* Adjust the next button */
    button.btn.btn-next {
      width: 100%;
      font-size: 14px;
      padding: 10px 0;
    }
  }